
/*
body * {
    border: 1px orange solid;
    background-color: rgba(255,0,0,.60);
}
*/

* {
    box-sizing: border-box;
}

body {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    margin-bottom: 20px;
}
button {
    flex: none;
    width: 150px;
    height: 30px;
    margin: 0 20px;
}

.gridContainer {
    display: flex;
    justify-content: center;
}

.gridColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* BORDERS */
.gridBox {
    border-bottom: 1px black solid;
    border-right: 1px black solid;
}
.isOnTopRow {
    border-top: 1px black solid;
}
.isOnLeftColumn {
    border-left: 1px black solid;
}
/* ============= */

.isShaded {
    background-color: rgba(0, 0, 0, 0.1);
}

.isBlack {
    background-color: black;
}