
/*
body * {
    border: 1px orange solid;
    background-color: rgba(255,0,0,.60);
}
*/

* {
    box-sizing: border-box;
}

body {
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: seashell;
}

.menu,
.borderedContainer {
    background-color: lightyellow;
    border: 4px pink solid;
    border-radius: 12px;
}

.borderedContainer {
    padding: 50px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
    gap: 10px;
    /*
    padding: 20px;
    */
    padding-top: 30px;
}

.buttons,
.colorSelect {
    margin-bottom: 20px;
    display: flex;
    gap: 5px;
}

.buttons {
    flex-direction: column;
}

.colorSelect {
    flex-wrap: wrap;
    justify-content: center;
    width: 150px;
}

button {
    flex: none;
    width: 120px;
    height: 40px;
    margin: 0 20px;
    border: 4px pink solid;
    background-color: pink;
    border-radius: 20px;
    color: white;
    font-size: 16px;
}

button.squareBtn {
    width: 45px; /*should be 75*/
    height: 45px;
    margin: 4px 4px;
    border-radius: 4px;
}

.isSelected,
button:hover {
    background-color: seashell;
    color: pink;
    text-decoration: underline 2px;
}

button:active {
    background-color: lightyellow;
}

.gridContainer {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: white;
}

.gridColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* BORDERS */
.gridBoxBorder {
    border-bottom: 1px black solid;
    border-right: 1px black solid;
}
.isOnTopRow {
    border-top: 1px black solid;
}
.isOnBottomRow {
    border-bottom: 1px black solid;
}
.isOnLeftColumn {
    border-left: 1px black solid;
}
.isOnRightColumn {
    border-right: 1px black solid;
}

/* ============= */

.isShaded {
    background-color: rgba(0, 0, 0, 0.1);
}

.isBlack {
    background-color: black;
}